html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* prevent browser scroll */
  }
  
  .sidebar-wrapper {
    width: 250px;
    background-color: #0d6efd;
    min-height: 100vh;
    flex-shrink: 0;
  }
  
  .main-content {
    flex-grow: 1;
    overflow-y: auto;
    height: 100vh;
    background-color: #f5f6fa;
  }

  
  .app-wrapper {
    height: 100vh;
    display: flex;
    overflow: hidden;
  }
